.ser {
    padding: 50px 0;

}

.ser .container{
    width: 80%;

}

.ser_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: -70px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05); 
    
}



.ser_item {
    text-align: center;
    flex: 1;
    padding: 20px 10px;
    border-radius: 8px;
  
    transition:all 0.3s; 
}


.ser_item:hover {
    transform: translateY(-8px);
    background-color: #ffffff;   
    box-shadow: 0px 8px 25px rgba(76, 175, 80, 0.15); 
    cursor: pointer; 
}


.ser_item:hover .ser_item_num {
    color: #2E7D32; 
}

.ser_item_num {
    font-size: 42px;
    font-weight: 700;
    color: #4CAF50;
    margin: 10px 0;
}

.ser_item_text {
    font-size: 18px;
    color: #666666;
    margin: 0;
    line-height: 1.4;
    white-space: pre-line; 
}

 
@media (max-width: 768px) {
    .ser_list {
        flex-direction: column;
        gap: 30px;
    }

    .ser_item{
        width: 80%;
    }

    .ser .container{
        width: 70%;
    }
}