nav{
    width: 100%;
}

nav .container{
    display: flex;
    flex-direction: column;
}

.nav_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 2px var(--main-color);
}

.nav_logo{
    display: none;
}

.nav_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav_tel{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    color: var(--text-color);
}

.nav_icon{
    color: var(--main-color);
    height: 28px;
    width: 28px;
}


.nav_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item a{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

.nav_item{
   padding: 20px;
   transition: all 0.3s;
}

.nav_item:hover{
    background-color: gray;
}

.nav_menu{
    width: 60px;
    height: 50px;
    color: var(--main-color);
    display: none;
}

@media (max-width: 1000px) {
    .nav_logo_with, .nav_facebook, .nav_instagram  , .select_menu, .nav_list{
        display: none;
    }

    .nav_logo{
        display: block;
    }
 

    .nav_menu{
        display: block;
    }


}

@media (max-width: 530px) {
    .nav_box{
        display: none;
    }
}